body{
   font-family: Verdana, Geneva, Tahoma, sans-serif; 
   background-color: darkcyan;

}
table, td, tr{
    border: 1px solid black;
}

h1 {
    font-size: 50 px;
    color:darkslategrey;
    text-align: center;
}

td{
    margin-left: 20 px;
    margin-right: 20 px;
    text-align: center;
}

p {
    text-indent: 2cm;
}

#map { height: 180px; }

.highcharts-figure,
.highcharts-data-table table {
    min-width: 360px;
    max-width: 500px;
    margin: 1em auto;
}